src/main/java/com/example/wsservice/axis/wsdl/cxf.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.cxf.wsservice.example.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WebServiceIService" targetNamespace="http://service.cxf.wsservice.example.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.cxf.wsservice.example.com/" elementFormDefault="unqualified" targetNamespace="http://service.cxf.wsservice.example.com/" version="1.0">

  <xs:element name="sayHello" type="tns:sayHello"/>

  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>

  <xs:element name="webserviceSave" type="tns:webserviceSave"/>

  <xs:element name="webserviceSaveResponse" type="tns:webserviceSaveResponse"/>

  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="webserviceSave">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="webserviceSaveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="webserviceSaveResponse">
    <wsdl:part element="tns:webserviceSaveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="webserviceSave">
    <wsdl:part element="tns:webserviceSave" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WebServiceI">
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webserviceSave">
      <wsdl:input message="tns:webserviceSave" name="webserviceSave">
    </wsdl:input>
      <wsdl:output message="tns:webserviceSaveResponse" name="webserviceSaveResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceIServiceSoapBinding" type="tns:WebServiceI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webserviceSave">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="webserviceSave">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="webserviceSaveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceIService">
    <wsdl:port binding="tns:WebServiceIServiceSoapBinding" name="WebServiceIPort">
      <soap:address location="http://127.0.0.1:8989/webservice/cxf"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>